.wd-100 {
  width: 100%;
}

.hi-100 {
  height: 100%;
}

.bg-black {
  background-color: black;
}

.op-50 {
  opacity: 0.5;
}

.relative {
  position: relative;
}

.overflow-hidden{
  overflow: hidden;
}


html {
  width: 100vw;
  height: 100vh;
}

body {
  background: #4a4e5ee0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.text-white {
  color: white;
}

.content-wrap {
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
}

.content-background {
  /* background-image: url('https://plus.unsplash.com/premium_photo-1682394265183-68113f05a103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80'); */
  background-size: cover;
  width: 30vw;
  height: 25vh;
  margin: 1vw;
  position: relative;
  border-radius: 3%;
}

.content-background-blur {
  /* background-image: url('https://plus.unsplash.com/premium_photo-1682394265183-68113f05a103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80'); */
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 3%;
}

.content-background-window {
  /* background-image: url('https://plus.unsplash.com/premium_photo-1682394265183-68113f05a103?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1287&q=80'); */
  background-size: cover;
  width: 35%;
  height: 30%;
  position: absolute;
  border-radius: 5%;
  top: 35%;
  left: 10%;
}

.content {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.discription {
  position: absolute;
  bottom: 0%;
  margin: 0% 0% 3% 5%;
  width: 90%;
}

.date {
  font-size: 0.7em;
}

.title {
  font-size: 1.7em;
  margin-bottom: 2%;
}

.tag {
  margin-right: 3%;
  cursor: pointer;
  z-index: 10;
}

.close-button {
  z-index: 200;
  display: block;
  position: absolute;
  width: 3%;
  padding-top: 3%;
  right: 2%;
  top: 2%;
  border-radius: 50%;
  background: #e0e0e0;
}
.close-button::before, .close-button::after { /* 共通設定 */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2%;
  height: 60%;
  background: #333;
}
 
.close-button::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.close-button::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}




/*############################################################
##イベント
############################################################*/
.undisplayed {
  display: none;
}
.hovered {
  animation-name: fadeInDiscription;
  animation-duration:1s;
  animation-fill-mode:forwards;
}
@keyframes fadeInDiscription {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.unhovered {
  animation-name: fadeOutDiscription;
  animation-duration:1s;
  animation-fill-mode:forwards;
}
@keyframes fadeOutDiscription {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content-background.clicked {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;

  overflow: hidden;

  /* animation-name: handleContentSize;
  animation-duration:0.5s;
  animation-fill-mode:initial; */
}
@keyframes handleContentSize {
  0% {
    width: 10%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}


@keyframes fadeInOutSingleContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.content-background.unclicked {
  width: 30vw;
  height: 25vh;
  margin: 1vw;
  position: relative;

  animation-name: fadeInOutSingleContent;
  animation-duration:2s;
  animation-fill-mode:forwards;
}
.content-background-blur.unclicked,
.content-background-window.unclicked {
  display: none;
}
.content-background-blur.clicked {
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.content-background-blur.clicked::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 103%;
  height: 103%;
  display: block;
  top: -1%;
  left: -1%;
}

.delete-mode-background-effect {
  width: 32vw;
  height: 27vh;
  background-color: red;
  opacity: 0.3;
  position: absolute;
}

.tag-hover {
  color: rgb(120, 157, 202);
}